@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

:root {
  --header-height: 3rem;

  --hue-color: 359;

  --first-color: hsl(var(--hue-color), 92%, 47%);
  --first-color-second: hsl(var(--hue-color), 92%, 47%);
  --first-color-alt: hsl(var(--hue-color), 92%, 37%);
  --first-color-lighter: hsl(var(--hue-color), 92%, 85%);
  --title-color: hsl(var(--hue-color), 8%, 15%);
  --text-color: hsl(var(--hue-color), 8%, 45%);
  --text-color-light: hsl(var(--hue-color), 8%, 65%);
  --input-color: hsl(var(--hue-color), 0%, 95%);
  --body-color: hsl(var(--hue-color), 60%, 99%);
  --container-color: #fff;
  --scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
  --scroll-thumb-color: hsl(var(--hue-color), 12%, 80%);

  --body-font: 'Roboto', sans-serif;

  --big-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  --font-medium: 500;
  --font-semi-bold: 600;

  --mb-0-25: 0.25rem;
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;

  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

@media screen and (min-width: 968px) {
  :root {
    --big-font-size: 3rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

/* body {
  PONER LA FUENTE PARA TODOS LOS ELEMENTOS
} */

.section {
  padding: 2rem 0 4rem;
  background-color: #080808;
}

.section__title {
  color: #fff;
  font-family: Segoe UI;
  font-size: 4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 6rem;
}

.section__title,
.section__subtitle {
  text-align: center;
}
.background__blur {
  width: 18rem;
  height: 18rem;
  border-radius: 18rem;
  background: #5e17eb;
  filter: blur(180px);
}

/*==================== LAYOUT ====================*/
.container {
  max-width: 768px;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}

/*==================== NAV ====================*/
.header {
  position: relative;
  width: 100%;
  height: 6.25rem;
  background: #080808;
  box-shadow: 0px 2px 2px 0px rgba(255, 255, 255, 0.2);
  display: flex;
  justify-content: center;
  z-index: 1000;
}
.navbar {
  position: relative;
  width: 1400px;
  height: 6.25rem;
  background: #080808;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}
.navbar .logo {
  width: 2.9375rem;
  height: 3.63325rem;
}
.navbar__menu ul {
  display: flex;
  flex-direction: row;
  gap: 50px;
  list-style-type: none;
}
.navbar__menu ul li {
  color: #fff;
  /* Ver la font */
  font-family: Segoe UI;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
  position: relative;
}
.navbar__menu ul li::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  transform: translateY(0.6rem);
  height: 0.3rem;
  background: #5e17eb;
  transition: all 0.5s ease;
}
.navbar__menu ul li:hover::after {
  width: 100%;
}

.navbar__buttons ul {
  display: flex;
  flex-direction: row;
  gap: 20px;
  list-style-type: none;
}
.navbar__buttons ul li {
  color: white;
}
.navbar__buttons ul li button {
  height: 3rem;
  padding: 0.625rem 0.75rem;
  gap: 0.625rem;
  background-color: transparent;
  border: 1px solid #fff;
  color: white;
  transition: all 0.8s ease-in-out;
}
.navbar__buttons ul li button:hover {
  background: #5e17eb;
  border: 1px solid transparent;
}

.navbar .navbar__menu-icon {
  width: 24px;
  height: 24px;
}

@media screen and (min-width: 767px) {
  .navbar__menu-icon {
    display: none;
  }
}

/* Estas cosas no las use en esta web */
/* Active link */
.active-link {
  color: var(--first-color);
}

/* Change background header */
.scroll__header {
  box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
}

/*==================== HOME ====================*/
.home {
  height: calc(100vh);
}
.home__container {
  height: calc(100vh - 6.25rem);
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
  background: #080808;
}

.home__container-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 700px;
  justify-self: flex-end;
}
.home__container-left h1 {
  color: #fff;
  /* Ver la fuente */
  font-family: Segoe UI;
  font-size: 3.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: 6rem; /* 150% */
  text-align: start;
}
.typed {
  width: 100px;
}
.home__title-animation {
  display: inline-block;
  width: 210px;
  padding: 0 5px;
  border: #5e17eb 3px solid;
  position: relative;
}
.home__title-decoration {
  position: absolute;
  top: -7.5px;
  right: -7.5px;
  background-color: #5e17eb;
  height: 15px;
  width: 15px;
  border-radius: 50%;
}
.home__container-left p {
  color: #fff;
  text-align: center;
  /* Ver la fuente */

  font-family: Segoe UI;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.25rem; /* 150% */
}
.home__container-left .home__background {
  position: absolute;
  left: 1rem;
  top: 1rem;
}
.home__container-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 700px;
  background: #080808;
}
.home__container-right .home__background {
  position: absolute;
  right: 1rem;
  top: 1rem;
}
.hero__img {
  width: 30.25rem;
}

/*==================== SERVICES ====================*/
.services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.services h2 {
  margin-bottom: 2rem;
}
.services__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.services__description {
  width: 1200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.services__left {
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.services__left h2 {
  text-align: left;
}

.services__right {
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: white;
}
.services__right p {
  text-align: left;
  color: #fff;
  font-family: DM Sans;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.875rem; /* 150% */
}
.services__list {
  width: 1400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}

.services__list-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 1400px;
  margin-top: 2rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid #fff;
}
.services__list-container h3 {
  color: #fff;
  font-family: Segoe UI;
  font-size: 4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 6rem; /* 150% */
  width: 35%;
}
.services__list-container p {
  text-align: left;
  color: #fff;
  font-family: DM Sans;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.875rem; /* 150% */
  width: 45%;
}
.flecha {
  color: red;
}
/*==================== ABOUT US ====================*/
.about-us {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.about-us h2 {
  margin-bottom: 2rem;
}
.about-us__container {
  width: 1400px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.about-us__left {
  width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.about-us__left h2 {
  margin-bottom: 1.5rem;
}
.about-us__left p {
  text-align: left;
  color: #fff;
  font-family: DM Sans;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.875rem; /* 150% */
}
.subtitle__decoration {
  color: #5e17eb;
}
.about-us__right {
  margin-top: 2rem;
}
.about-us__background {
  position: absolute;
  right: 1rem;
  top: 1rem;
}

/*==================== CONTACT ME ====================*/

/*==================== FOOTER ====================*/
.footer,
.footer * {
  box-sizing: border-box;
}
.footer {
  background: #ffffff;
  width: 100vw;
  height: 348px;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.footer__container {
  display: flex;
  flex-direction: column;
  gap: 27px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-3590 {
  display: flex;
  flex-direction: row;
  gap: 26px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.home {
  color: var(--dark, #0a142f);
  text-align: center;
  font: 500 16px 'DM Sans', sans-serif;
  position: relative;
}
.experience {
  color: var(--dark, #0a142f);
  text-align: center;
  font: 500 16px 'DM Sans', sans-serif;
  position: relative;
}
.news {
  color: var(--dark, #0a142f);
  text-align: center;
  font: 500 16px 'DM Sans', sans-serif;
  position: relative;
}
.about-us {
  color: var(--dark, #0a142f);
  text-align: center;
  font: 500 16px 'DM Sans', sans-serif;
  position: relative;
}
.logo {
  flex-shrink: 0;
  width: 69.5px;
  height: 85.96px;
  position: static;
}
.clip-path-group {
  width: 37.62px;
  height: 35.28px;
  position: static;
}
.e-8-c-5-e-809-c-0 {
  position: absolute;
  left: 158.76px;
  top: 59.76px;
  overflow: visible;
}
.group {
  position: absolute;
  left: 158.79px;
  top: 59.87px;
  overflow: visible;
}
.clip-path-group2 {
  width: 11.85px;
  height: 30.65px;
  position: static;
}
.f-39341-e-23-b {
  position: absolute;
  left: 158.76px;
  top: 48px;
  overflow: visible;
}
.group2 {
  position: absolute;
  left: 158.79px;
  top: 48px;
  overflow: visible;
}
.group3 {
  width: 17.82px;
  height: 25.03px;
  position: static;
}
.group4 {
  position: absolute;
  left: 142.75px;
  top: 108.4px;
  overflow: visible;
}
.group5 {
  width: 11.59px;
  height: 24.96px;
  position: static;
}
.group6 {
  position: absolute;
  left: 161.38px;
  top: 108.47px;
  overflow: visible;
}
.group7 {
  width: 17.37px;
  height: 25.99px;
  position: static;
}
.group8 {
  position: absolute;
  left: 175.76px;
  top: 107.98px;
  overflow: visible;
}
.group9 {
  width: 16.02px;
  height: 24.99px;
  position: static;
}
.group10 {
  position: absolute;
  left: 196.23px;
  top: 108.4px;
  overflow: visible;
}
.frame-3594 {
  display: flex;
  flex-direction: row;
  gap: 27px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.mdi-linkedin {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.frame-3593 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.ic-baseline-phone {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
._54-3548-512070 {
  color: #000000;
  text-align: center;
  font: 400 14px 'DM Sans', sans-serif;
  position: relative;
}
.frame-3624 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.ic-baseline-place {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.c-rdoba-argentina {
  color: #000000;
  text-align: center;
  font: 400 14px 'DM Sans', sans-serif;
  position: relative;
}
.copyright-2019-f {
  color: var(--dark, #0a142f);
  text-align: center;
  font: 400 12px 'DM Sans', sans-serif;
  opacity: 0.6499999761581421;
  position: relative;
}
/*========== SCROLL BAR ==========*/
::-webkit-scrollbar {
  width: 0.6rem;
  background-color: var(--scroll-bar-color);
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--scroll-thumb-color);
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--text-color-light);
}

/*NOTE - Ver si uso lo de abajo */
/*========== SCROLL UP ==========*/
/* .scroll__top {
  position: fixed;
  right: 5%;
  bottom: -10%;
  background-color: var(--first-color);
  opacity: 0.8;
  padding: 0 0.3rem;
  border-radius: 0.4rem;
  transition: 0.4s;
  z-index: 1;
}

.scroll__top-icon {
  font-size: 1.5rem;
  color: #fff;
}

.scroll__top:hover {
  background-color: var(--first-color-alt);
  transform: translateY(-1rem);
}


.show__scroll {
  bottom: 10%;
} */

/*==================== MEDIA QUERIES ====================*/

/* @media screen and (max-width: 350px) {
  .container {
    margin-left: var(--mb-1);
    margin-right: var(--mb-1);
  }
  .nav__menu {
    padding: 2rem 0.25rem 2rem;
  }
  .nav__list {
    column-gap: 0;
  }
  .home__content {
    grid-template-columns: 0.25fr 3fr;
  }
  .home__blob {
    width: 180px;
  }
  .home__blob-img {
    max-width: 150px;
  }
  .skills__title {
    font-size: var(--normal-font-size);
  }

  .qualification__data {
    gap: 0.5rem;
  }
}
@media screen and (max-width: 568px) {
  .home__blob-img {
    max-width: 240px;
  }
}

@media screen and (min-width: 568px) {
  .home__content {
    grid-template-columns: max-content 1fr 1fr;
  }
  .home__data {
    grid-column-start: 2;
    grid-row-start: 1;
  }
  .home__img {
    grid-column-start: 3;
  }

  .about__container,
  .contact__container,
  .footer__container {
    grid-template-columns: repeat(2, 1fr);
  }

  .qualification__data-info1,
  .qualification__data-info2,
  .qualification__data-info3,
  .qualification__data-info4 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .portfolio__content {
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .nav__list {
    flex-direction: row;
    height: 50px;
  }
  .container {
    margin-left: auto;
    margin-right: auto;
  }
  .body {
    margin: 0;
  }
  .section {
    padding: 6rem 0 2rem;
  }
  .section__subtitle {
    margin-bottom: 4rem;
  }
  .header {
    top: 0;
    bottom: initial;
  }
  .header,
  .main,
  .footer__container {
    padding: 0 1rem;
  }
  .nav {
    height: calc(var(--header-height)+ 1.5rem);
    column-gap: 1rem;
  }
  .nav__icon-img,
  .nav__close,
  .nav__toogle {
    display: none;
  }
  .nav__list {
    display: flex;
    column-gap: 2rem;
    padding: 1rem 0;
  }
  .nav__menu {
    margin-left: auto;
  }
  .home__container {
    row-gap: 5rem;
  }
  .home__content {
    padding-top: 0;
    column-gap: 2rem;
  }
  .home__blob {
    width: 270px;
  }
  .home__scroll {
    display: block;
    grid-column-start: 2;
  }
  .home__scroll-button {
    margin-left: 3rem;
  }
  .about__container {
    column-gap: 5rem;
  }
  .about__img {
    width: 350px;
  }
  .about__description {
    text-align: initial;
  }
  .about__info {
    justify-content: space-between;
  }
  .about__buttons {
    justify-content: initial;
  }
  .portfolio__img {
    width: 320px;
  }
  .portfolio__content {
    align-items: center;
  }
  .footer__container {
    grid-template-columns: 1fr 1.5fr 1fr;
  }
  .footer__bg {
    padding: 3rem 0 3.5rem;
  }
  .footer__links {
    flex-direction: row;
    column-gap: 2rem;
  }
  .footer__socials {
    justify-self: flex-end;
  }
  .footer__copy {
    margin-top: 4.5rem;
  }
}

@media screen and (min-width: 1024px) {
  .home__blob {
    width: 320px;
  }
  .home__social {
    transform: translateX(-6rem);
  }
  .portfolio__content {
    column-gap: 5rem;
  }
  .swiper-portfolio-icon {
    font-size: 3.5rem;
  }
  .swiper-button-prev {
    left: -3.5rem;
  }
  .swiper-button-next {
    right: -3.5rem;
  }
  .contact__form {
    width: 460px;
  }
  .contact__inputs {
    grid-template-columns: repeat(2, 1fr);
  }
  .footer__tittles-container {
    margin-top: -7px;
  }
  .nav__logo {
    font-size: var(--h3-font-size);
  }
} */
